.button {
  padding: 12px 32px 20px 32px;
  border-radius: 80px;
  color: #fff;
  font-size: $p-font-size;
  font-weight: bold;
  background-color: $button-bg-color;
  color: $white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: #090940;
  }
}
.primary-button {
  // Extend base button styles
  @extend .button;
}

.secondary-button {
  // Extend base button styles
  @extend .button;
}
