$white: #ffffff;
$black: #000010;
$button-bg-color: #33083d;
$dark-purple: #33083d;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-custom: cubic-bezier(0.33, 0, 0.67, 1);
$ease-menu: cubic-bezier(0.63, 0, 0.4, 0.99);
$ease-hero-marquee: cubic-bezier(0.24, 0.6, 0.25, 1);
